<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let ph of mobiles">
            <!-- if class.instockCss is true instockcss class is added. if instockclass is false the instockClass is removed-->
            <h2>{{ph.name | uppercase}}</h2>
            <div><img height="150px" [src]="ph.image"></div>
            <p style="color:green">Price {{ph.price | currency:'INR' }}</p>
            <p *ngIf="ph.stock>0">Stock left: {{ph.stock}}</p>
            <p *ngIf="ph.stock==0">
                <Mark>Out of Stock</Mark>
            </p>
            <form name="myForm" ng-submit="onSubmit()">
                <button (click)="upqty(ph)">+</button> <!-- event binding :- html to javascript-->
                <!-- <input type="text" class="number" [value]="ph.qty"> --><!-- property binding-->
                <!--   <input type="text" class="number" (input)="ph.qty=$event.target.value">-->
                <input style="width: 50px;" type="number" [(ngModel)]="ph.qty" name="price_field"
                       ng-pattern="/^[0-9]{1,7}$/" required>
                <button (click)="downqty(ph)">-</button>
                <br>
                <button [disabled]="ph.disabled" [class.inStockCSS]="ph.inStockCSS" type="submit" class="btn btn-primary mt-5">Add to cart </button>
            </form>
            <!--
            <button *ngIf="ph.stock==0" disabled>Add to cart</button>
            <button *ngIf="ph.stock>0" >Add to cart</button>
            -->
        </div>
    </div>
</div>
<!--[ note : when code is interpolated, the properties are read from the component and string are printed. ]
Propert Binding :-  All we need to do is add brackets and specify a component property.
for example :-   <button [disabled]="isDisabled">Add to cart</button>
Propert binding allows us to bind our component to our DOM element properties
Any update to the compoent property value will update the DOM properties but nOT vice a versa that is why it is one-way binding
Class binding allows us to specify a CSS class to add to a DOM element if a component property is true
-->