<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/Dashboard']">Dashboard</a></li>
            <li><a [routerLink]="['/Home']">Home</a></li>
            <li><a [routerLink]="['/Mobile']">Mobile</a></li>
            <!--   <li><a [routerLink]="['/Dress']">Dress</a></li>-->
            <li><a [routerLink]="['/Laptop']">Laptops</a></li>
            <li><a [routerLink]="['/Heros']">Hero</a></li>
            <li><a [routerLink]="['/signUp']">Sign Up</a></li>
            <li><a [routerLink]="['useradd']">add</a></li>
        </ul>
    </div>
</nav>
<button onclick="test()">my firstpackage </button>
<router-outlet></router-outlet>